@if(user?.uid){
<!-- Fo tartalomdoboz minden elem benne van -->
<div id="main-container">
 <!-- @if(!phoneView) { -->
 <div id="side-nav-container">
  <nav class="nav">
   <ion-avatar (click)="openUserCard()" class="user-img" slot="start">
    <img
     src="https://img.freepik.com/free-vector/user-circles-set_78370-4704.jpg?t=st=1741696833~exp=1741700433~hmac=5c4d9770452bab7cb12b3a38cead02ffcd3f50b45d75a0da6324820dc1bd3df2&w=740"
    />
   </ion-avatar>
   <ion-text>{{ userProf?.firstName + " " + userProf?.lastName }}</ion-text>
   <ion-button (click)="signOut()" style="margin-left: 5px">
    <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
   </ion-button>
  </nav>
  <div class="promotions-container">
   <swiper-container
    class="swiper-cont"
    [grabCursor]="true"
    [scrollbar]="true"
    [pagination]="true"
    [navigation]="true"
   >
    @for(prom of promotions; track $index){
    <swiper-slide>
     <ion-card class="prom-card">
      <div class="prom-img-cont">
       <img
        alt="Promocio"
        src="https://img.freepik.com/free-vector/charity-logo-hands-supporting-heart-icon-flat-design-vector-illustration_53876-136266.jpg?t=st=1741773727~exp=1741777327~hmac=becc45b6f6afbc13365d2d5af57597f93f383178e53d29891a3399fac4753b63&w=740"
        height="100px"
       />
      </div>
      <ion-card-header>
       <ion-card-title>{{ prom.title }}</ion-card-title>
       <ion-card-subtitle>{{ prom.discount }} %</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
       {{ prom.description }}
      </ion-card-content>
     </ion-card>
    </swiper-slide>
    }
   </swiper-container>
  </div>
  <div class="matches-and-messages-cont">
   <ion-button>Parok</ion-button>
   <ion-button>Uzenetek</ion-button>
  </div>
  <div class="pairs-and-messageheads-cont">
   <ion-img
    src="https://img.freepik.com/free-photo/high-fashion-look-glamor-portrait-beautiful-sexy-stylish-brunette-caucasian-young-woman-model-with-bright-makeup-with-healthy-curly-hair-black-blue-dress-studio_158538-13982.jpg?t=st=1741697498~exp=1741701098~hmac=4d68e4791a327f77bab1c5fcfb113d62449e8f2991efa7de736ea7eb2a570725&w=740"
    class="rounded-image cursor-pointer"
   ></ion-img>
   <!-- Parok listazva, Uzenetek uzeneteknel -->
  </div>
 </div>
 <!-- } -->
 <div id="main-view-container">
  <div class="logout-container">
   <ion-button (click)="signOut()" style="margin-left: 5px">
    <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
   </ion-button>
  </div>
  @if(!isUserCardOpen) {
  <ion-grid class="m-0 p-0">
   <ion-row>
    <ion-col>
     <ion-card class="user-card">
      <!-- <div class="possible-match-img-cont"> -->
      <!-- <img
        class="w-100 h-100"
        src="https://img.freepik.com/free-photo/smiling-beautiful-young-woman-standing-posing_171337-11412.jpg?t=st=1741774526~exp=1741778126~hmac=a7231668e4c5404255597ab2c791cd321150de59b3eacd1ab254649c4e1d2ee4&w=740"
        alt="Felhasznalo Kepe"
       /> -->
      <swiper-container
       class="possible-match-img-cont"
       [grabCursor]="true"
       [pagination]="true"
      >
       @for(pic of matchProf?.pictures;track $index){
       <swiper-slide>
        <img class="w-100 h-100" [src]="pic.url" />
       </swiper-slide>
       }
      </swiper-container>
      <!-- </div> -->
      <div class="card-content-cont-wrapper">
       <div class="card-content-cont">
        <div class="pos-abs bottom-130 w-100 poss-match-name-cont">
         <ion-card-content class="d-flex jus-space-b poss-match-name w-100">
          <ion-text>{{ matchProf?.firstName + " " + matchProf?.age }}</ion-text>
          <ion-button
           (click)="isMatchDetailsOpen = !isMatchDetailsOpen"
           class="show-match-details-button"
          >
           <ion-icon name="arrow-down-outline"></ion-icon>
          </ion-button>
         </ion-card-content>
        </div>
        @if(matchProf?.interests){
        <ion-card-content class="pos-abs bottom-30 d-flex flex-cols">
         <p class="interests-title">
          <ion-icon name="business-outline"></ion-icon>
          Erdeklodesi korok
         </p>
         <div class="d-flex">
          @for(interest of matchProf?.interests;track $index){
          <span class="interests m-r-1 m-t-1 border-rounded">{{
           interest
          }}</span>
          }
         </div>
        </ion-card-content>
        }
        <ion-buttons style="padding-left: 12px">
         <ion-button fill="solid" shape="round">
          <ion-icon
           slot="icon-only"
           size="large"
           color="success"
           name="return-up-back-outline"
          ></ion-icon>
         </ion-button>
         <ion-button (click)="changeMatchProf()" fill="solid" shape="round">
          <ion-icon
           slot="icon-only"
           size="large"
           color="danger"
           name="close-outline"
          ></ion-icon>
         </ion-button>
         <ion-button fill="solid" shape="round">
          <ion-icon
           slot="icon-only"
           size="large"
           color="primary"
           name="star-outline"
          ></ion-icon>
         </ion-button>
         <ion-button (click)="changeMatchProf()" fill="solid" shape="round">
          <ion-icon
           slot="icon-only"
           size="large"
           color="success"
           name="heart-outline"
          ></ion-icon>
         </ion-button>
        </ion-buttons>
       </div>
      </div>
     </ion-card>
     <div class="bottom-buttons">
      Billentyu kombo segitseg, egy megjelenites gomb hozza majd elo
     </div>
     <!-- A LEHETSEGES PAR RESZLETES ADATAI -->
     @if(isMatchDetailsOpen) {
     <div class="poss-match-details-container">
      @for(listNum of possMatchDetLists;track $index){
      <ion-list style="margin-top: 10px">
       @for(lab of labels.userProfLabels; track $index) { @if(matchProf &&
       lab?.inMatch && lab.listNum === listNum && matchProf[lab.key]) {
       <ion-item>
        <ion-label>
         <!-- <h2 style="margin-bottom: 20px; font-weight: bold">Eletmod</h2> -->
         <h2>{{ lab.value }}</h2>
         @if(lab.type === "checkbox") {
         <div class="d-flex">
          @for(ch of matchProf[lab.key]; track $index;) {

          <p class="m-r-1 m-t-1 border-rounded user-choices-style">
           {{ ch }}
          </p>
          }
         </div>

         } @if(lab.type !== "checkbox") {
         <p>
          {{ typeof matchProf[lab.key] === "object"? matchProf[lab.key].lower + " - " + matchProf[lab.key].upper : matchProf[lab.key] }}
         </p>

         }
        </ion-label>
       </ion-item>
       } }
      </ion-list>
      }
     </div>
     }
    </ion-col>
   </ion-row>
  </ion-grid>
  }
  <!-- FELHASZNALO BEALLITASAI KARTYA -->
  @if(isUserCardOpen && userProf) {
  <ion-grid class="m-0 p-0">
   <ion-row>
    <ion-col>
     <ion-card class="user-card">
      <div class="user-settings-card-img-cont">
       <img
        class="w-100 h-100"
        src="https://img.freepik.com/free-photo/smiling-beautiful-young-woman-standing-posing_171337-11412.jpg?t=st=1741774526~exp=1741778126~hmac=a7231668e4c5404255597ab2c791cd321150de59b3eacd1ab254649c4e1d2ee4&w=740"
        alt="Felhasznalo Kepe"
       />
      </div>
      <ion-card-content class="poss-match-name">
       <ion-text>{{
        userProf.lastName + " " + userProf.firstName + " " + userProf.age
       }}</ion-text>
      </ion-card-content>
      <ion-button (click)="startUpdateUserProf()">Adatszerkesztes</ion-button>
     </ion-card>
     @if(startUpdUserProf) {
     <ion-list>
      @for(lab of labels.userProfLabels; track $index) { @if(lab.type ===
      "text-area"){
      <ion-item>
       <ion-textarea
        [(ngModel)]="userProf[lab.key]"
        [placeholder]="lab.placeholder"
        [label]="lab.value"
        maxlength="1000"
        [counter]="true"
        [autoGrow]="true"
       ></ion-textarea>
      </ion-item>
      } @if(lab.type !== "text-area" && lab.type !== "file" &&lab.type !==
      "range") {
      <ion-item>
       <ion-input
        [label]="lab.value"
        [(ngModel)]="userProf[lab.key]"
        [type]="lab.type"
       ></ion-input>
      </ion-item>
      } @if(lab.type === "range"){
      <ion-item>
       <ion-range
        [name]="lab.key"
        [label]="
         lab.value + userProf[lab.key].lower + ' - ' + userProf[lab.key].upper
        "
        aria-label="Milyen korban keresel?"
        [min]="14"
        [max]="100"
        [pin]="true"
        [snaps]="true"
        [dualKnobs]="true"
        [(ngModel)]="userProf[lab.key]"
       >
        <ion-icon slot="start" name="accessibility-outline"></ion-icon>
        <ion-icon slot="end" name="briefcase-outline"></ion-icon
       ></ion-range>
      </ion-item>
      } @if(lab.type === "file") {
      <ion-item>
       <ion-input
        [label]="lab.value"
        [type]="lab.type"
        [multiple]="lab.multiple"
        (change)="lab.change($event)"
       ></ion-input>
       <ion-button [disabled]="!this.selectedFiles" (click)="savePictures()"
        >Feltoltes</ion-button
       >
      </ion-item>
      <ion-grid>
       <ion-row>
        @for(pic of userProf.pictures; track pic.url){
        <ion-col sizeXs="4" sizeSm="4" sizeMd="3" sizeLg="2">
         <ion-img class="user-pictures" [src]="pic.url"></ion-img>
        </ion-col>
        }
       </ion-row>
      </ion-grid>
      } @if(lab.type === "checkbox") {
      <ion-item>
       <ion-grid>
        <ion-row>
         @for(ch of lab.choices; track $index;) {
         <ion-col
          size-xl="auto"
          size-lg="auto"
          size-md="3"
          size-sm="6"
          size-xs="12"
         >
          <ion-checkbox
           justify="start"
           [checked]="userProf[lab.key]?.includes(ch.value)"
           [value]="ch"
           (ionChange)="onSelectChoices($event, lab.key)"
           >{{ ch.value }}</ion-checkbox
          >
         </ion-col>
         }
        </ion-row>
       </ion-grid>
      </ion-item>
      } }
     </ion-list>
     <ion-button color="warning" (click)="updateUserProf()">Mentes</ion-button>
     }
    </ion-col>
   </ion-row>
  </ion-grid>
  }
  <!-- FELHASZNALO BEALLITASAI KARTYA VEGE -->
 </div>
</div>
<!-- Fo Tartalomdoboz vege, minden elem benne van -->
}
