@if(user?.uid){
<div id="main-container">
  <!-- @if(!phoneView) { -->
  <div id="side-nav-container">
    <nav class="nav">
      <ion-avatar (click)="openUserCard()" class="user-img" slot="start">
        <img
          src="https://img.freepik.com/free-vector/user-circles-set_78370-4704.jpg?t=st=1741696833~exp=1741700433~hmac=5c4d9770452bab7cb12b3a38cead02ffcd3f50b45d75a0da6324820dc1bd3df2&w=740"
        />
      </ion-avatar>
      <ion-text>{{ userProf?.firstName + " " + userProf?.lastName }}</ion-text>
      <ion-button (click)="signOut()" style="margin-left: 5px">
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-button>
    </nav>
    <div class="promotions-container">
      <swiper-container
        class="swiper-cont"
        [grabCursor]="true"
        [scrollbar]="true"
        [pagination]="true"
        [navigation]="true"
      >
        @for(prom of promotions; track $index){
        <swiper-slide>
          <ion-card class="prom-card">
            <div class="prom-img-cont">
              <img
                alt="Promocio"
                src="https://img.freepik.com/free-vector/charity-logo-hands-supporting-heart-icon-flat-design-vector-illustration_53876-136266.jpg?t=st=1741773727~exp=1741777327~hmac=becc45b6f6afbc13365d2d5af57597f93f383178e53d29891a3399fac4753b63&w=740"
                height="100px"
              />
            </div>
            <ion-card-header>
              <ion-card-title>{{ prom.title }}</ion-card-title>
              <ion-card-subtitle>{{ prom.discount }} %</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              {{ prom.description }}
            </ion-card-content>
          </ion-card>
        </swiper-slide>
        }
      </swiper-container>
    </div>
    <div class="matches-and-messages-cont">
      <ion-button>Parok</ion-button>
      <ion-button>Uzenetek</ion-button>
    </div>
    <div class="pairs-and-messageheads-cont">
      <ion-img
        src="https://img.freepik.com/free-photo/high-fashion-look-glamor-portrait-beautiful-sexy-stylish-brunette-caucasian-young-woman-model-with-bright-makeup-with-healthy-curly-hair-black-blue-dress-studio_158538-13982.jpg?t=st=1741697498~exp=1741701098~hmac=4d68e4791a327f77bab1c5fcfb113d62449e8f2991efa7de736ea7eb2a570725&w=740"
        class="rounded-image cursor-pointer"
      ></ion-img>
      <!-- Parok listazva, Uzenetek uzeneteknel -->
    </div>
  </div>
  <!-- } -->
  <div id="main-view-container">
    <div class="logout-container">
      <ion-button (click)="signOut()" style="margin-left: 5px">
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-button>
    </div>
    @if(!isUserCardOpen) {
    <ion-card class="user-card">
      <div class="possible-match-img-cont">
        <img
          height="100%"
          width="100%"
          src="https://img.freepik.com/free-photo/smiling-beautiful-young-woman-standing-posing_171337-11412.jpg?t=st=1741774526~exp=1741778126~hmac=a7231668e4c5404255597ab2c791cd321150de59b3eacd1ab254649c4e1d2ee4&w=740"
          alt="Felhasznalo Kepe"
        />
      </div>
      <div class="space-div"></div>
      <div class="card-content-cont">
        <ion-card-content class="poss-match-name">
          <ion-text>Kata 25</ion-text>
          <ion-button>
            <ion-icon name="arrow-down-outline"></ion-icon>
          </ion-button>
        </ion-card-content>
        <ion-card-content>
          <p class="interests-title">
            <ion-icon name="business-outline"></ion-icon>
            Erdeklodesi korok
          </p>
          <span class="interests">Ongondoskodas</span>
          <span class="interests">Edzoterem</span>
          <span class="interests">Vasarlas</span>
          <span class="interests">Asztrologia</span>
        </ion-card-content>
        <ion-buttons style="padding-left: 12px">
          <ion-button fill="solid" shape="round">
            <ion-icon
              slot="icon-only"
              size="large"
              color="success"
              name="return-up-back-outline"
            ></ion-icon>
          </ion-button>
          <ion-button fill="solid" shape="round">
            <ion-icon
              slot="icon-only"
              size="large"
              color="danger"
              name="close-outline"
            ></ion-icon>
          </ion-button>
          <ion-button fill="solid" shape="round">
            <ion-icon
              slot="icon-only"
              size="large"
              color="primary"
              name="star-outline"
            ></ion-icon>
          </ion-button>
          <ion-button fill="solid" shape="round">
            <ion-icon
              slot="icon-only"
              size="large"
              color="success"
              name="heart-outline"
            ></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-card>
    <div class="bottom-buttons">
      Billentyu kombo segitseg, egy megjelenites gomb hozza majd elo
    </div>
    }
    <!-- FELHASZNALO BEALLITASAI KARTYA -->
    @if(isUserCardOpen && userProf) {
    <ion-content>
      <ion-card class="user-card">
        <div class="possible-match-img-cont">
          <img
            height="100%"
            width="100%"
            src="https://img.freepik.com/free-photo/smiling-beautiful-young-woman-standing-posing_171337-11412.jpg?t=st=1741774526~exp=1741778126~hmac=a7231668e4c5404255597ab2c791cd321150de59b3eacd1ab254649c4e1d2ee4&w=740"
            alt="Felhasznalo Kepe"
          />
        </div>
        <ion-card-content class="poss-match-name">
          <ion-text>{{
            userProf.lastName + " " + userProf.firstName + " " + userProf?.age
          }}</ion-text>
        </ion-card-content>
        <ion-button (click)="startUpdateUserProf()">Adatszerkesztes</ion-button>
      </ion-card>
      @if(startUpdUserProf) {
      <ion-list>
        @for(lab of labels.userProfLabels; track $index) { @if(lab.type ===
        "text-area"){
        <ion-item>
          <ion-textarea
            [(ngModel)]="userProf[lab.key]"
            [placeholder]="lab.placeholder"
            [label]="lab.value"
            maxlength="1000"
            [counter]="true"
            [autoGrow]="true"
          ></ion-textarea>
        </ion-item>
        } @if(lab.type !== "text-area") {
        <ion-item>
          <ion-input
            [label]="lab.value"
            [(ngModel)]="userProf![lab.key]"
            [type]="lab.type"
          ></ion-input>
        </ion-item>

        } @if(lab.type === "checkbox") {
        <ion-item>
          <ion-grid>
            <ion-row>
              @for(ch of lab.choices; track $index;) {
              <ion-col
                size-xl="auto"
                size-lg="auto"
                size-md="3"
                size-sm="6"
                size-xs="12"
              >
                <ion-checkbox
                  justify="start"
                  [checked]="userProf[lab.key]?.includes(ch.value)"
                  [value]="ch"
                  (ionChange)="onSelectChoices($event, lab.key)"
                  >{{ ch.value }}</ion-checkbox
                >
              </ion-col>
              }
            </ion-row>
          </ion-grid>
        </ion-item>
        } }
      </ion-list>
      <ion-button color="warning" (click)="updateUserProf()">Mentes</ion-button>
      }
    </ion-content>
    }
    <!-- FELHASZNALO BEALLITASAI KARTYA VEGE -->
  </div>
</div>

}
<!-- <strong>{{ name }}</strong>
  @if(viewData?.data) {
  <ion-list>
    <form (ngSubmit)="onSubmit(ngForm)" #ngForm="ngForm">
      @for(val of viewArrayValues; let i = $index; track $index;) {
      <ion-item
        ><ion-input
          [name]="viewArrayKeys[i]"
          ngModel
          [label]="viewData.labels[i]"
        ></ion-input
      ></ion-item>

      }
      <ion-button type="submit">{{
        viewArrayKeys.length < 3 ? "Bejelentkezes" : "Regisztracio"
      }}</ion-button>
    </form>
  </ion-list>
  } -->
<!-- @if(user?.uid){
  <ion-menu side="end" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">Menu tartalma</ion-content>
  </ion-menu>

  <ion-card>
    <ion-card-header>
      <div
        style="display: flex; justify-content: space-between; margin-left: 10px"
      >
        <img
          alt="Silhouette of mountains"
          src="https://img.freepik.com/free-photo/handsome-smiling-man-looking-with-disbelief_176420-19591.jpg?t=st=1741555823~exp=1741559423~hmac=738a5a0dafdce7d58c68b7f131d5c5c3855f793601fedd93cdf29d7a23cbfc4a&w=1060"
          width="100px"
          height="100px"
        />
        <div id="main-content">
          <ion-menu-button size="large"></ion-menu-button>
        </div>
      </div>
      <ion-card-title>{{
        viewData?.firstName + " " + viewData?.lastName
      }}</ion-card-title>
      <ion-card-subtitle>Ferfi</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let lab of labels.userProfLabels; let i = index">
          <ion-card-content>{{ lab.value }}</ion-card-content>
          <ion-label>{{ viewData[lab.key] }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  } -->
