.jus-space-b {
 justify-content: space-between;
}
.bottom-130 {
 bottom: 130px;
}
.m-1 {
 margin: 1rem;
}
.m-r-1 {
 margin-right: 0.4rem;
}
.m-t-1 {
 margin-top: 0.4rem;
}
.border-rounded {
 border-radius: 10px;
}
#main-container {
 display: flex;
}
#main-view-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 width: 100%;
 height: fit-content;
 //  background-color: rgba(51, 49, 36, 0.5);
 background-color: rgba(150, 72, 150, 0.5);
  .app-message-card {
   height: 90vh;
   width: 100vw;
  }
 .user-card {
  height: 80vh;
  width: 60vw;

  .possible-match-img-cont {
   height: 100%;
   width: 100%;
   z-index: 2;
   position: absolute;
   opacity: 0.9;
  }
  .user-settings-card-img-cont {
   height: 100%;
   width: 100%;
   z-index: -1;
   position: absolute;
   opacity: 0.9;
  }
  .card-content-cont-wrapper {
   position: relative;
   width: 100%;
   height: 100%;
  }
  .poss-match-name {
   font-weight: bolder;
   color: black;
   margin-left: 20px;
   font-size: 2rem;
   padding: 0;
   margin: 0;
   padding-left: 18px;
   padding-right: 18px;
   p {
    position: absolute;
    top: 50px;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.4rem;
    color: rgb(226, 211, 211);
   }
  }
  .card-content-cont {
   position: absolute;
   bottom: 2%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: fit-content;
   width: 100%;
   .interests-title {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
   }
   .interests {
    background: black;
    color: rgb(255, 255, 255);
    padding: 5px;
   }
  }
 }
 .match-progress-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  p {
   font-family: "Courier New", Courier, monospace;
   font-size: 1.2rem;
   color: rgb(17, 96, 17);
   text-align: center;
  }
  ion-progress-bar {
   --background: rgb(59, 59, 198, 0.7);
   --progress-background: linear-gradient(
    to right,
    rgb(185, 222, 65),
    rgb(174, 136, 34),
    rgb(45, 176, 45)
   );
   height: 7%;
   width: 85%;
   border-radius: 10px;
  }
 }
 .bottom-30 {
  bottom: 30px;
 }
 .pos-abs {
  position: absolute;
  z-index: 2;
 }
 .d-flex {
  display: flex;
  flex-wrap: wrap;
 }
 .flex-cols {
  flex-direction: column;
 }
 .bottom-buttons {
  height: 20vh;
  width: 60vw;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
 }
}
.match-container {
 cursor: pointer;
 position: relative;
 width: 90%;
 height: 17vh;
 margin-right: 5px;
 margin-left: 5px;
 img {
  border-radius: 5px;
 }
 p {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  color: #9b0fc9;
  margin: 0;
 }
}
#side-nav-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 width: 25vw;
 height: 100vh;
 text-align: center;
}
.nav {
 height: 15vh;
 width: 100%;
 background-color: purple;
 display: flex;
 align-items: center;
 justify-content: center;
}
.promotions-container {
 height: 40vh;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 .swiper-cont {
  width: 100%;
  height: 100%;
 }
 .prom-card {
  margin: 0;
  padding: 0;

  .prom-img-cont {
   margin-top: 10px;
  }
 }
}
.matches-and-messages-cont {
 height: 10vh;
 background-color: orange;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}
.pairs-and-messageheads-cont {
 height: 35vh;
 background-color: rgb(82, 205, 40);
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}
.cursor-pointer {
 cursor: pointer;
}
.rounded-image {
 width: 100px;
 height: 100px;
 border-radius: 50%;
 object-fit: cover;
}
.user-img {
 margin-right: 10px;
}
.user-pictures {
 width: 100px;
 height: 100px;
}
.logout-container {
 z-index: 200;
 width: 50px;
 height: 50px;
 top: 1%;
 position: absolute;
 left: 85%;
 transform: translateX(-10%);
}
.m-0 {
 margin: 0;
}
.p-0 {
 padding: 0;
}
.w-100 {
 width: 100%;
}
.h-100 {
 height: 100%;
}
.user-choices-style {
 color: rgb(215, 220, 220);
 background: rgb(9, 72, 21);
 border-radius: 5px;
 padding: 5px;
}

ion-range {
 --bar-background: #bc4ee1;
 --bar-background-active: #9b0fc9;
 --bar-height: 8px;
 --bar-border-radius: 8px;
 --knob-background: #845467;
 --knob-size: 30px;
 --pin-background: #852e4e;
 --pin-color: #efeeef;
}

ion-checkbox {
 --size: 19px; /* Módosítja a checkbox méretét */
}
@media screen and (max-width: 400px) {
 #side-nav-container {
  display: none;
 }
 .bottom-buttons {
  display: none !important;
 }
 .user-card {
  width: 100vw !important;
  height: 70vh !important;
 }
 .poss-match-name-cont {
  bottom: 27vh;
 }
 .show-match-details-button {
  display: none;
 }
}
@media screen and (min-width: 400px) {
 .logout-container {
  display: none;
 }
}
