ion-range {
 --bar-background: #bc4ee1;
 --bar-background-active: #9b0fc9;
 --bar-height: 8px;
 --bar-border-radius: 8px;
 --knob-background: #845467;
 --knob-size: 30px;
 --pin-background: #852e4e;
 --pin-color: #efeeef;
}
