<ion-header [translucent]="true">
 <ion-toolbar>
  <ion-title> Talald meg te is az igazit </ion-title>
 </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-header collapse="condense">
  <ion-toolbar>
   <ion-title size="large">Bejelentkezes</ion-title>
  </ion-toolbar>
 </ion-header>
 <div class="background-image-cont">
  <img
   src="https://img.freepik.com/free-vector/flat-dia-del-amor-y-la-amistad-text-illustration_23-2150627670.jpg?t=st=1741890904~exp=1741894504~hmac=b0a2aac9dc648b594e6cca4962f827fb66c9861843ff154e3c7545d917fc14c8&w=740"
   alt="Background Image"
  />
 </div>
 <ion-content class="ion-padding login-container">
  <ion-label>E-mail</ion-label>
  <ion-input [(ngModel)]="loginData.data.email" type="email"> </ion-input>
  <ion-label>Jelszo</ion-label>
  <ion-input
   (keydown.enter)="loginUser()"
   [(ngModel)]="loginData.data.password"
   type="password"
  >
  </ion-input>
  <ion-button (click)="loginUser()">Bejelentkezes</ion-button>
  <ion-button routerLink="/amor/register"
   >Meg nincs fiokod? Hozz letre egyet</ion-button
  >
 </ion-content>
</ion-content>
