<ion-tabs>
 <ion-tab-bar slot="bottom" class="ion-hide-sm-up">
  @if(!loggedUser?.uid) {
  <ion-tab-button tab="register" href="/amor/register">
   <ion-icon aria-hidden="true" name="triangle"></ion-icon>
   <ion-label>Regisztracio</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="tab2" href="/amor/tab2">
   <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
   <ion-label>Bejelentkezes</ion-label>
  </ion-tab-button>
  } @if(userProf?.uid) {
  <ion-tab-button (click)="showMatchesCard()" tab="tab3" href="/amor/tab3">
   <ion-icon aria-hidden="true" name="heart"></ion-icon>
   <ion-label>Amor</ion-label>
  </ion-tab-button>
  <ion-tab-button (click)="openUserCard()" tab="tab3" href="/amor/tab3">
   <ion-icon aria-hidden="true" name="person"></ion-icon>
   <ion-label>Profilom</ion-label>
  </ion-tab-button>
  }
 </ion-tab-bar>
</ion-tabs>
