ion-content {
  --background: transparent;
}
ion-toolbar {
  --background: linear-gradient(
    to right,
    rgba(165, 24, 151, 0.8),
    rgba(71, 32, 67, 0.7)
  );
}
.login-container {
  text-align: center;
}
