<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Talald meg te is az igazit </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bejelentkezes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-label>E-mail</ion-label>
  <ion-input [(ngModel)]="loginData.data.email" type="email"> </ion-input>
  <ion-label>Jelszo</ion-label>
  <ion-input [(ngModel)]="loginData.data.password" type="password"> </ion-input>
  <ion-button (click)="loginUser()">Bejelentkezes</ion-button>
</ion-content>
