<ion-card class="user-card">
  @if(progress !== 100) {
  <div class="match-progress-bar-container">
    <p>MATCHEK KERESÉSE FOLYAMATBAN...</p>
    <ion-progress-bar
      [buffer]="buffer / 100"
      [value]="progress / 100"
    ></ion-progress-bar>
  </div>
  }

  @if(progress === 100) {
  <swiper-container
    class="possible-match-img-cont"
    [grabCursor]="true"
    [pagination]="true"
  >
    @if(!matchProfile?.pictures?.length && !isMatchPlaceHolder) {
    <swiper-slide>
      @if(matchProfile?.gender === "No") {
      <img
        class="w-100 h-100"
        src="https://img.freepik.com/free-photo/smiling-beautiful-young-woman-standing-posing_171337-11412.jpg?t=st=1741774526~exp=1741778126~hmac=a7231668e4c5404255597ab2c791cd321150de59b3eacd1ab254649c4e1d2ee4&w=740"
        alt="Felhasznalo Kepe"
      />
      } @else if(matchProfile?.gender === "Ferfi"){
      <img
        class="w-100 h-100"
        src="https://img.freepik.com/free-photo/front-view-smiley-man-posing-cv_23-2149927614.jpg?t=st=1742682395~exp=1742685995~hmac=0c894e9ca76b334b0ed1f69f37ab56764bd4db0ab471e43578c54a97734e0f79&w=740"
        alt="Felhasznalo Kepe"
      />
      }
    </swiper-slide>
    }

    @for(pic of matchProfile?.pictures;track $index){
    <swiper-slide>
      <img class="w-100 h-100" [src]="pic.url" alt="Felhasznalo Kepe" />
    </swiper-slide>
    }

    @if(isMatchPlaceHolder) {
    <swiper-slide>
      <img
        class="w-100 h-100"
        src="https://img.freepik.com/free-photo/oops-lettering-hand-drawn-speech-bubble-red-backdrop_23-2147948841.jpg?t=st=1742686882~exp=1742690482~hmac=476c757d7ab737d27e2a3799df18485137eaf50e64bb78124af2b7feaeac1503&w=740"
        alt="Nincs tobb match"
      />
    </swiper-slide>
    }
  </swiper-container>
  }

  <div class="card-content-cont-wrapper">
    <div class="card-content-cont">
      <div class="pos-abs bottom-130 w-100 poss-match-name-cont">
        <ion-card-content class="d-flex jus-space-b poss-match-name w-100">
          @if(!isMatchPlaceHolder && matchProfile?.firstName) {
          <ion-text>{{
            matchProfile?.firstName +
              (matchProfile?.age ? " " + matchProfile?.age : "")
          }}</ion-text>
          } @else if(!isMatchPlaceHolder) {
          <ion-text>Profil betöltése...</ion-text>
          } @else {
          <p>Elfogytak a lehetséges matchek, nézz vissza később</p>
          }

          @if(!isMatchPlaceHolder) {
          <ion-button
            (click)="detailsToggled.emit()"
            class="show-match-details-button"
            fill="clear"
          >
            <ion-icon name="arrow-down-outline"></ion-icon>
          </ion-button>
          }
        </ion-card-content>
      </div>

      @if(matchProfile?.interests){
      <ion-card-content class="pos-abs bottom-30 d-flex flex-cols">
        <p class="interests-title">
          <ion-icon name="heart-outline"></ion-icon>
          Érdeklődési körök
        </p>
        <div class="d-flex">
          @for(interest of matchProfile?.interests;track $index){
          <span class="interests m-r-1 m-t-1 border-rounded">
            {{ interest }}
          </span>
          }
        </div>
      </ion-card-content>
      }

      @if(!isMatchPlaceHolder) {
      <ion-buttons style="padding: 20px">
        <ion-button fill="solid" shape="round" class="action-button">
          <ion-icon
            slot="icon-only"
            size="large"
            name="return-up-back-outline"
          ></ion-icon>
        </ion-button>
        <ion-button
          (click)="disliked.emit()"
          fill="solid"
          shape="round"
          class="action-button dislike"
        >
          <ion-icon
            slot="icon-only"
            size="large"
            name="close-outline"
          ></ion-icon>
        </ion-button>
        <ion-button fill="solid" shape="round" class="action-button">
          <ion-icon
            slot="icon-only"
            size="large"
            name="star-outline"
          ></ion-icon>
        </ion-button>
        <ion-button
          (click)="liked.emit()"
          fill="solid"
          shape="round"
          class="action-button like"
        >
          <ion-icon
            slot="icon-only"
            size="large"
            name="heart-outline"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
      }
    </div>
  </div>
</ion-card>
