<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Amor </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Regisztracio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-button expand="block" (click)="regUser()"
      >Hozz letre fiokot</ion-button
    >
  </ion-content>
  <!-- <app-main-view-container
    [viewData]="registrationData"
    (submitData)="getSubmittedData($event)"
    name="Regisztracio"
  ></app-main-view-container> -->
</ion-content>
