<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bejelentkezve, mint {{userProf?.firstName + " " + userProf?.lastName}}
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
 <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profilom</ion-title>
    </ion-toolbar>
  </ion-header> -->
 <app-main-view-container
  [matchProfiles]="matchUserProfs"
  [progress]="progress"
  [buffer]="buffer"
  [matches]="matches"
 ></app-main-view-container>
</ion-content>
